body {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #314154;
  margin-left: 20%;
  margin-right: 20%;
}
#work {
  color: #e8e8e8;
  position: absolute;
  top: 30px;
  left: 38%;
}
.cartasarriba {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.cartasabajo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.text-body {
 color: rgb(134, 134, 134);
}
/*CARTA DE BASES DE DATOS*/
.cartasarriba .cardbas {
  margin-right: 20px;
  margin-top: 100px;
}

.cartasabajo .cardbas {
  margin-right: 20px;
}

.cardbas:hover .cardbas-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.cardbas {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 20px;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.cardbas-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.cardbas-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #6187a5;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
 cursor: pointer;
}
/*Hover*/
.cardbas:hover {
 border-color: #063a61;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.cardbas:hover .cardbas-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
/*FIN DE LA CARTA DE BASE DE DATOS*/

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}
.cartas {
  display: flex;
  justify-content: center;
  gap: 60px;

}
.cartasarriba .cardpro {
  margin-right: 20px;
  margin-top: 100px;
}

.cartasabajo .cardpro {
  margin-right: 20px;
}

.cardpro:hover .cardpro-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.cardpro {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 20px;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.cardpro-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.cardpro-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #8800f8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
 cursor: pointer;
}
/*Hover*/
.cardpro:hover {
 border-color: #8800f8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.cardpro:hover .cardpro-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
/*FIN DE LA CARTA DE PROGRAMACIÓN*/
.cartasarriba .cardlen {
  margin-right: 20px;
  margin-top: 100px;
}

.cartasabajo .cardlen {
  margin-right: 20px;
}

.cardlen:hover .cardlen-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.cardlen {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 20px;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.cardlen-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.cardlen-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #f8df00;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
 cursor: pointer;
}
/*Hover*/
.cardlen:hover {
 border-color: #f8df00;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.cardlen:hover .cardlen-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
/*FIN DE LA CARTA DE LENGUAJE DE MARCAS*/
.cartasarriba .cardent {
  margin-right: 20px;
  margin-top: 100px;
}

.cartasabajo .cardent {
  margin-right: 20px;
}

.cardent:hover .cardent-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.cardent {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: #f5f5f5;
 position: relative;
 padding: 20px;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.cardent-details {
 color: black;
 height: 100%;
 gap: .5em;
 display: grid;
 place-content: center;
}

.cardent-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #00f8f8;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
 cursor: pointer;
}
/*Hover*/
.cardent:hover {
 border-color: #00f8f8;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.cardent:hover .cardent-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}
/*FIN DE LA CARTA DE ENTORNOS*/
.bodyprogramacion {
  background-color: #314154;
  font-family: Poppins;
}
.header {
  position: relative;
}

.blurry-background {
  overflow: hidden;
}

.blurry-background img {
  filter: blur(5px);
  background-size: contain 100%;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Poppins';
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
/* Estilos para el botón Volver */
.volver-button {
  position: absolute;
  top: 20px;
  left: 47%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white; 
  font-family: 'Poppins';
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  z-index: 1; /* Asegura que esté por encima de la imagen */
  margin: 10px;
}

.volver-button:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Cambia el color de fondo al pasar el ratón sobre el botón */
}
button {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
.botonesprincipio {
  display: flex;
  gap: 5px;
}

